name: 'scan'
on: [push]
jobs:
  scanning_dependency:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Audit JS
        run: npx auditjs@latest ossi
      - name: Audit packages
        run: npm audit

        